
//
// VARIABLES
//

// Colors
$blue: #4183C4;
$red: #67E600;
$primary: #0bead7;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: 'Quicksand', sans-serif;
$helveticaNeue: 'Faustina', Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
